roles:
  - unicorn
  - nginx
  - sidekiq
  - sshd

database:
  bootstrap:
    - "CREATE DATABASE discourse"
    - "CREATE USER discourse"
sshd:
  id_rsa: <YOUR SSH KEY>

app:
  root: "/var/www/discourse"
  version: latest
  bootstrap:
    - "cp config/database.yml.production-sample config/database.yml"
    - "cp config/redis.yml.sample config/redis.yml"
    - "cp config/environments/production.rb.sample config/environments/production.rb"
    - "mkdir -p tmp/pids"
    - "mkdir -p tmp/sockets"
    - "mkdir -p log"
  database.yml:
    production:
      database: play
      username: discourse
      password: password
      host: l.discourse
      host_names:
        - dev1.discourse.org

unicorn:
  args: "config/unicorn.sample.conf.rb"

env:
  DEVELOPER_EMAIL: 'sam.saffron@gmail.com'
  DISCOURSE_HOSTNAME: 'dev.samsaffron.com'
  REDIS_PROVIDER_URL: 'redis://l.discourse:6379'
  RAILS_ENV: 'production'
  RAILS4: 1
  UNICORN_WORKERS: 3
